# Feature engineering in Pandas

## Loading/Exploring the data

Load the iris.csv file from this repo into a pandas dataframe. Take a minute to familiarize yourself with the data.

## Import Pandas

Import the `pandas` library as `pd`

In [1]:
import pandas as pd

Read the `../data/iris.csv` dataset into an object named `iris`

In [2]:
iris = pd.read_csv('../data/iris.csv')

In [3]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

How many different species are in this dataset?

In [4]:
iris['species'].nunique()

3

What are their names?

In [5]:
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

How many samples are there per species?

<details><summary>Hint</summary>Use the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html"><code>.value_counts()</code></a> method</details>

In [6]:
iris['species'].value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

## Feature Engineering

Create a new column called `'sepal_ratio'` which is equal to sepal width / sepal length

In [7]:
iris['sepal ratio'] = iris['sepal width (cm)']/iris['sepal length (cm)']

Create a similar column called `'petal_ratio'`: petal width / petal length

In [8]:
iris['petal ratio'] = iris['petal width (cm)']/iris['petal length (cm)']

Create 4 columns that correspond to `sepal length (cm)`, `sepal width (cm)`, `petal length (cm)`, and `petal width (cm)`, only in inches.

In [9]:
iris['sepal length (in)'] = iris['sepal length (cm)']/2.54
iris['sepal width (in)'] = iris['sepal width (cm)']/2.54
iris['petal length (in)'] = iris['petal length (cm)']/2.54
iris['petal width (in)'] = iris['petal width (cm)']/2.54
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,sepal ratio,petal ratio,sepal length (in),sepal width (in),petal length (in),petal width (in)
0,5.1,3.5,1.4,0.2,setosa,0.686275,0.142857,2.007874,1.377953,0.551181,0.07874
1,4.9,3.0,1.4,0.2,setosa,0.612245,0.142857,1.929134,1.181102,0.551181,0.07874
2,4.7,3.2,1.3,0.2,setosa,0.680851,0.153846,1.850394,1.259843,0.511811,0.07874
3,4.6,3.1,1.5,0.2,setosa,0.673913,0.133333,1.811024,1.220472,0.590551,0.07874
4,5.0,3.6,1.4,0.2,setosa,0.720000,0.142857,1.968504,1.417323,0.551181,0.07874

## Apply

Create a column called `'encoded_species'`:
- 0 for setosa
- 1 for versicolor
- 2 for virginica


<details><summary>Hint 1</summary>
Create a dictionary using the species as keys and the numbers 0-2 for values
</details>

<details><summary>Hint 2</summary>
    Use the dictionary in hint 1 with the <code>.apply()</code> method to create the new column
</details>

In [10]:
# def new_column(species):
#     new_species = {
#         'setosa':0,
#         'versicolor':1,
#         'virginica':2
#     }
#     return new_species(species)

# I could not figure this out!!

## March Madness

Let's change up the dataset to something different than flowers: March Madness!

Read in the dataset `../data/ncaa-seeds.csv` to an object named `seeds`.

This dataframe simulates the games that will occur in the first round of the [NCAA basketball tournament](http://www.sportingnews.com/au/ncaa-basketball/news/ncaa-tournament-2017-march-madness-bracket-schedule-matchups-print-a-bracket/1r6cau9sb1xj4131zzhay2dj5g). In the first row, you should see the following:

| team_seed | opponent_seed |
|-----------|---------------|
| 01N       | 16N           |

In [11]:
seeds = pd.read_csv('../data/ncaa-seeds.csv')

For team_seed, the 01 is their seed, and N is their division (North). This row is saying the 1st seed in the north division will play the 16th seed (same division).

Using the `.apply()` method, create the following new columns:
- `team_division`
- `opponent_division`

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 01N       | 16N           | N             | N                 |

In [ ]:
# I'm super frustrated becasue I know that we've done this and I keep tryin to look back in 
# other notebooks that we've worked on and I can't figure out how I'm supposed to do this at
# the moment

Now that you have the divisions, change the `team_seed` and `opponent_seed` columns to just be the numbers.

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 1         | 16            | N             | N                 |

Create a new column called seed_delta, which is the difference between the team's seed and their opponent's. 

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division | seed_delta |
|-----------|---------------|---------------|-------------------|------------|
| 1         | 16            | N             | N                 | -15        |

<br>
<details><summary>Did you get an error?</summary>
team_seed and opponent_seed need to be numerical columns in order for you to perform mathematical operations on them.
</details>